section.about {
    padding: 50px 0;
}

body {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
} 

/*
Start Navbar Styles
*/
.navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
}
.navbar-default .top-logo {
    content:url("../img/logo_light_bg_orange.png");
    max-width: 200px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
}

.navbar-brand {
    height: 70px;
    padding-top: 2px!important;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 2px!important;
}

.navbar-header {
    height:70px;
}

.navbar-default {
    min-height:70px;
}

.navbar-default .navbar-header .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -90px !important;  /* 50% of your logo width */
    display: block;
}

/*
Navbar Large Styles
*/
@media(min-width:768px) {
    .navbar-default {
        /*border-color: rgba(255,255,255,0);*/
        /*border-width: 2px;*/
    }
    .navbar-default .top-logo {
        content:url("../img/logo_dark_bg_orange.png");
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
    }

    .navbar-default.affix .top-logo {
        content:url("../img/logo_light_bg_orange.png");
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        padding-top:25px;
        padding-bottom:25px;
    }
}

/*
Header Styles
*/
header {
    background-image: url(../img/room6.jpg);
}

header h1 {
    color: rgba(255,255,255,0.9);
}

header .header-content .header-content-inner hr {
    margin: 20px auto;
    max-width: 340px!important;
}

header .header-content .header-content-inner p {
    font-size: 38px;
    font-weight: 600;
    color: rgba(255,255,255,.9);
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin-bottom: 20px;
}

/*
Header Large Styles
*/
@media(min-width:768px) {
    header .header-content .header-content-inner p {
        font-size: 38px;
    }
}

.hidden-elem {
    visibility: hidden;
}

.info-text-top {
    padding-top: 25px;
}

.info-img-odd {
    background-image: url("../img/borders/small_steps.png");
    padding-left: 25px;
    padding-bottom: 25px;
}

.info-text-odd {
    background-image: url("../img/borders/small_steps.png");
    padding-left: 25px;
}

.info-img-even {
    background-image: url("../img/borders/small_steps.png");
    padding-right: 25px;
    padding-bottom: 25px;
}

.info-text-even {
    background-image: url("../img/borders/small_steps.png");
    padding-right: 25px;
}

@media(min-width:768px) {
    .info-img-top {
        padding-top: 25px;
    }
    
    .info-img-odd {
        /*padding-top: 25px;*/
        padding-left: 0px;
        padding-bottom: 25px;
    }

    .info-text-odd {
        padding-bottom: 25px;
        padding-left: 25px;
    }

    .info-img-even {
        padding-right: 0px;
    }

    .info-text-even {
        padding-bottom: 25px;
    }
}

.info-box {
    background-color: white;
    height: 370px;
    overflow: hidden;
}

.spring-box {
    padding-top: 35px;
    padding-bottom: 35px;
}

.spring-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.inner-box-text {
    text-align: center;
    padding: 5px 50px;
}

.inner-box-text p {
    line-height: 1.5;
    font-size: large;
}

.inner-box-text hr {
    /*max-width: 350px;*/
    max-width: 50px;
    /*    margin-top: 35px;*/
    margin-bottom: 35px;
}

.info-content {
    color: rgb(240,95,64);
    margin-bottom: 40px;
}

@media(max-width:480px) {
    .info-box {
        height: 275px;
    }
    
    .inner-box-text {
        padding: 5px 25px;
    }

    .inner-box-text p {
            line-height: 1.8;
        font-size: small;
    }
    
.info-content {
    margin-bottom: 20px;
}
    .inner-box-text hr {

    margin-bottom: 20px;
}
}

@media(min-width:768px) {
    .info-box {
        height: 305px;
    }
    
    .inner-box-text {
        padding: 10px 25px;
    }

    .inner-box-text p {
            line-height: 1.8;
        font-size: small;
    }
}

@media(min-width:920px) {
    .info-box {
        height: 375px;
    }

    .inner-box-text p {
        font-size: medium;
    }
}

@media(min-width:1200px) {
    .info-box {
        height: 480px;
    }

    .inner-box-text {
        padding: 50px 75px;
    }

    .inner-box-text p {
        font-size: large;
    }
}

@media(min-width:1600px) {
    .info-box {
        height: 640px;
    }

    .inner-box-text {
        padding: 125px 100px;
    }

    .inner-box-text p {
        font-size: x-large;
    }
}

.form-email {
    text-align: center;
    border-radius: 20px;
    border-style: none;
}

.form-email:focus {
    border-style: solid;
    background-color: rgba(255,255,255,0.9);
}

.form-btn {
    padding: 7px 30px;
}

.btn-xl {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.signup-box {
    background-color: rgba(240, 95, 64, 0.9);
    max-width: 40%;
    height: 250px;
    margin: 50px auto;
    padding: 1px 10px;
}

.signup-box p {
    font-size: small;
}

.full-side {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
}

#signupAlert {
    margin-top: 20px!important;
}

.twentytwenty-overlay {
    visibility: hidden;
}