a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

section.about {
    padding: 50px 0;
}

body {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

/*
Start Navbar Styles
*/
.navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
}
.navbar-default .top-logo {
    content:url("../img/logo_light_bg.png");
    max-width: 150px;
    margin-top: 10px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
}

.navbar-brand {
    height: 70px;
    padding-top: 2px!important;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 2px!important;
}

.navbar-header {
    height:70px;
}

.navbar-default {
    min-height:70px;
}

.navbar-default .navbar-header .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -90px !important;  /* 50% of your logo width */
    display: block;
}

.btn-signup {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-signup > .btn {

}

/*
Navbar Large Styles
*/
@media(min-width:768px) {
    .navbar-default {
        /*border-color: #ececec;*/
        /*border-width: 2px;*/
        box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    }
    .navbar-default .top-logo {
        content:url("../img/logo_light_bg.png");
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
    }

    .navbar-default.affix .top-logo {
        content:url("../img/logo_light_bg.png");
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        padding-top:25px;
        padding-bottom:25px;
        color:#000;
    }
}

/*
Header Styles
*/
header {
    background-image: url(../img/HeroBG.png);
}

.info-section h2 {
    margin-bottom: 0px;
}
.info-section {
    padding: 50px 0;
}

.dark-bg {
    background-color: #fff;
    color: #000;
}

header h1 {
    color: #000;
    font-size: 36px !important;
}

header .header-content .header-content-inner hr {
    margin: 20px auto;
    max-width: 340px!important;
}

header .header-content .header-content-inner p {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin-bottom: 35px;
    margin-left: 10px;
}

/*
Header Large Styles
*/
@media(min-width:768px) {
    header .header-content .header-content-inner p {
        font-size: 20px;
    }
}

.hidden-elem {
    visibility: hidden;
}

.info-text-top {
    padding-top: 25px;
}

.info-img-odd {
    background-image: url("../img/borders/small_steps.png");
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.info-text-odd {
    background-image: url("../img/borders/small_steps.png");
    padding-left: 25px;
    padding-right: 25px;
}

.info-img-even {
    background-image: url("../img/borders/small_steps.png");
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.info-text-even {
    background-image: url("../img/borders/small_steps.png");
    padding-right: 25px;
    padding-left: 25px;
}

@media(min-width:768px) {
    .info-img-top {
        padding-top: 25px;
    }

    .info-img-odd {
        /*padding-top: 25px;*/
        padding-left: 0px;
        padding-bottom: 25px;
        padding-right: 0px;
    }

    .info-text-odd {
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 0px;
    }

    .info-img-even {
        padding-right: 0px;
        padding-left: 0px;
    }

    .info-text-even {
        padding-bottom: 25px;
        padding-left: 0px;
    }
}

.info-box {
    background-color: white;
    height: 370px;
    overflow: hidden;
}

.spring-box {
    padding-top: 20px;
    padding-bottom: 20px;
}

.spring-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.inner-box-text {
    text-align: center;
    padding: 5px 40px;
}

.inner-box-text p {
    line-height: 1.2;
    font-size: large;
    text-align: left;
}

.inner-box-text hr {
    /*max-width: 350px;*/
    max-width: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.info-content {
    color: #0161b7;
}

@media(max-width:480px) {
    .info-box {
        height: 275px;
    }

    .inner-box-text {
        padding: 0px 25px;
    }

    .inner-box-text p {
            line-height: 1.2;
        font-size: small;
    }

    .info-content {
        margin-bottom: 20px;
    }

    .inner-box-text hr {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media(min-width:768px) {
    .info-box {
        height: 305px;
    }

    .inner-box-text {
        padding: 10px 25px;
    }

    .inner-box-text p {
            line-height: 1.5;
        font-size: small;
    }

    .inner-box-text hr {
        margin-bottom: 20px;
        margin-top: 20px;
    }


}

@media(min-width:920px) {
    .info-box {
        height: 375px;
    }

    .inner-box-text p {
        font-size: medium;
    }

        .inner-box-text hr {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media(min-width:1200px) {
    .info-box {
        height: 480px;
    }

    .inner-box-text {
        padding: 35px 75px;
    }

    .inner-box-text p {
        font-size: large;
    }
}

@media(min-width:1600px) {
    .info-box {
        height: 640px;
    }

    .inner-box-text {
        padding: 100px 100px;
    }

                .inner-box-text hr {
        margin-bottom: 50px;
        margin-top: 50px;
    }
}

.form-email {
    text-align: center;
    border-radius: 20px;
    border-style: none;
}

.form-email:focus {
    border-style: solid;
    background-color: rgba(255,255,255,0.9);
}

.form-btn {
    padding: 7px 30px;
}

.btn-xl {
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 40px;
    border: #0161b7 2px solid;
    display: none;
    
}

.signup-box {
    background-color: rgba(240, 95, 64, 0.9);
    max-width: 40%;
    height: 250px;
    margin: 50px auto;
    padding: 1px 10px;
}

.signup-box p {
    font-size: small;
}

.full-side {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
}

#signupAlert {
    margin-top: 20px!important;
}

#signupWarning {
    margin-top: 20px!important;
}

.twentytwenty-overlay {
    visibility: hidden;
}

.mattress-img {
    padding-left: 50px;
    padding-right: 50px;
}

section#contact {
    padding-bottom: 50px;
}
.copyright p {
    font-size: small;
}

#signup p {
    margin-bottom: 10px;
}

.bottom {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -30px;
    margin-top: -10px;
}

@media(max-width: 768px) {
    .bottom {
        visibility: hidden;
    }
}

.scroll-btn, .scroll-btn:focus {
    color: white;
}

.scroll-btn:hover {
    color:#d7d7d7
}

.video-container { 
	position: relative; /* keeps the aspect ratio */ 
	padding-bottom: 56.25%; /* fine tunes the video positioning */ 
	overflow: hidden;
	height: 0;
	padding-top: 0px;
	z-index:1;
}

.video-container iframe,
.video-container object,
.video-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}


/*  BRYAN  ==================================================================== */
/*  CUSTOM  ==================================================================== */
/*  SECTION  ==================================================================== */

/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
	width: 49.2%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	margin-bottom: 50px;
}
	
@media only screen and (max-width:768px) {
	.section {
		margin-bottom: 0px;
		margin-top: 30px;
	}
}
	

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 768 PIXELS */

@media only screen and (max-width: 768px) {
	.col { 
		margin: 1% 0 10% 0%;
	}
}

/*  Banner Holder  ==================================================================== */

.banner_holder{
    width: 100%;
    height: 300px;
    min-height: 200px;
    position: relative;
	z-index: 0;
    
}

.banner_holder img{
    width: 100%;
}

/*  Header Text  ==================================================================== */

.header-text {
	margin-top:90px; 
}

@media only screen and (max-width: 768px) {
	.header-text {
		margin-top: 0px;
	}
}


/*  Header Content  ==================================================================== */

@media only screen and (max-width: 480px) {
	header .header-content {
		padding-bottom: 0px;
	}
}
